h3 {
    background-color: salmon;
    color: white;
}

.container {
    text-align: center;
    width: 80%;
}

.sample1 {
    
    .acd-label {
        display: block;
        margin: 10px;
        padding : 15px;
        line-height: 1;
        color :#fff;
        background : black;
        cursor :pointer;
    }
    
    .acd-input {
        display: none;
    }
    
    .acd-content {
        height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    
    .acd1 {
        .acd-input:checked ~ .acd-content {
            height: 40px;
            opacity: 1;
        }
    }
}

.sample2 {

    .acd2 {
        margin: auto;
        width: 70%;
        list-style: none;
        padding-left: 0px;

        li {
            margin: 10px 0;
        }    
    }

    .acd2-content {
        max-height: 0;
        min-height: 0;
        overflow-y: hidden;
        transition: max-height 0.3s ease;
    }

    .acd2-title{
        padding: 5px 5px;
        margin: 0;
        border: 2px solid lightcoral;
        position: relative;
        cursor :pointer;
    }

    .acd2-title::before{
        content: "＋";
        position: absolute;
        right: 10px;
    }

    .acd2-title.open {

        + .acd-content{
            max-height: 200px;
        }

        &::before{
            content: "－";
        }    
    }    
}