h3 {
    color: white;
    background-color: salmon;
}

.container {
    width: 80%;
    text-align: center;
}

.sample1 {

    .acd-label {
        display: block;
        margin: 10px;
        padding: 15px;
        line-height: 1;
        color: #fff;
        background: black;
        cursor: pointer;
    }

    .acd-input {
        display: none;
    }

    .acd-content {
        height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }

    .acd1 {
        .acd-input:checked ~ .acd-content {
            height: 40px;
            opacity: 1;
        }
    }
}

.sample2 {

    .acd2 {
        width: 70%;
        margin: auto;
        padding-left: 0px;
        list-style: none;

        li {
            margin: 10px 0;
        }
    }

    .acd2-content {
        max-height: 0;
        min-height: 0;
        overflow-y: hidden;
        transition: max-height 0.3s ease;
    }

    .acd2-title {
        position: relative;
        margin: 0;
        padding: 5px 5px;
        border: 2px solid lightcoral;
        cursor: pointer;
    }

    .acd2-title::before {
        position: absolute;
        right: 10px;
        content: "＋";
    }

    .acd2-title.open {

        + .acd-content {
            max-height: 200px;
        }

        &::before {
            content: "－";
        }
    }
}
