$break-point-sp: 900px;
$border-point: 1px;
$color-black: #000;
$color-gray: #CCC;
$color-background-gray: #F0F0F0;
$color-white: #FFF;

body {
    margin: 0 auto;
    font-size: 0.875rem;
    background-color: $color-background-gray;
}

img {
    width: 100%;
}

a {
    color: $color-black;
}

.title {
    margin: 0;
    padding: 0;
    font-weight: 400;

    &__en {
        display: block;
        font-size: 2.25rem;
        letter-spacing: 0.3rem;
    }

    &__ja {
        display: block;
        margin-top: 10px;
        font-size: 0.875rem;

        &::after {
            display: block;
            width: 30px;
            height: 36px;
            content: "";
            border-bottom: $border-point solid $color-black;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    &__logoWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        padding-left: 100px;

        @media screen and (max-width: $break-point-sp) {
            flex-direction: column;
            align-items: normal;
            gap: 8px;
            padding-left: 16px;
        }
    }

    &__logo {
        width: 100px;

        @media screen and (max-width: $break-point-sp) {
            width: 80px;
        }
    }

    &__navigationList {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__contact {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        height: 100%;
        font-size: 0.75rem;
        background-color: $color-black;

        a {
            color: $color-white;
        }

        @media screen and (max-width: $break-point-sp) {
            display: none;
        }
    }
}

.banner {
    font-size: 0;

    img {
        width: 100%;
        height: calc(100vh - 80px);
        object-fit: cover;
    }
}

.news {
    max-width: 1000px;
    margin: 120px auto 0;

    @media screen and (max-width: $break-point-sp) {
        margin: 80px 16px 0 16px;
    }

    &__list {
        display: flex;
        width: 100%;

        @media screen and (max-width: $break-point-sp) {
            flex-direction: column;
        }

        li {
            width: calc(100% / 3);
            padding: 10px 20px;

            &:not(:first-child) {
                border-left: $border-point solid $color-black;

                @media screen and (max-width: $break-point-sp) {
                    border-left: none;
                }
            }
        }
    }

    &__head {
        display: flex;
        align-items: center;
    }

    &__tag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 20px;
        margin-left: 10px;
        font-size: 0.75rem;
        color: $color-white;
        background-color: $color-black;
    }

    &__title {
        margin-top: 16px;
    }
}

.about {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    gap: 70px;
    margin-top: 120px;

    @media screen and (max-width: $break-point-sp) {
        flex-direction: column-reverse;
        gap: 30px;
        margin-top: 90px;
    }

    &__banner {
        width: 55%;

        @media screen and (max-width: $break-point-sp) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 400px;
            object-fit: cover;

            @media screen and (max-width: $break-point-sp) {
                height: 300px;
            }
        }
    }

    &__description {
        margin-top: 180px;
        margin-right: 70px;

        @media screen and (max-width: $break-point-sp) {
            margin: 0 16px;
        }
    }

    &__text {
        margin-top: 50px;
    }
}

.business {
    max-width: 1000px;
    margin: 120px auto 0;

    @media screen and (max-width: $break-point-sp) {
        margin: 90px 16px 0 16px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
        height: 800px;
        margin-top: 50px;

        @media screen and (max-width: $break-point-sp) {
            gap: 30px;
            height: auto;
        }

        img {
            margin-top: 10px;
        }

        li {
            width: 46%;

            @media screen and (max-width: $break-point-sp) {
                width: 100%;
            }

            &:first-child {
                margin-top: 100px;

                @media screen and (max-width: $break-point-sp) {
                    margin-top: 0;
                }
            }
        }
    }

    &__category {
        margin: 0;

        &::before {
            margin-right: 10px;
            content: "‐";
        }
    }
}

.company {
    position: relative;
    display: flex;
    height: 650px;
    margin-top: 120px;

    @media screen and (max-width: $break-point-sp) {
        flex-direction: column;
        height: auto;
        margin: 80px 16px 0 16px;
    }

    &__contentWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 55%;
        padding: 100px 8% 100px 6%;
        background-color: $color-white;

        @media screen and (max-width: $break-point-sp) {
            position: static;
            width: 100vw;
            padding: 40px 20px 40px 20px;
        }
    }

    &__detail {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 40px;

        @media screen and (max-width: $break-point-sp) {
            flex-direction: column;
        }

        dt, dd {
            margin-top: 10px;
        }

        dt {
            width: 30%;
        }

        dd {
            width: 70%;

            @media screen and (max-width: $break-point-sp) {
                margin-left: 16px;
            }

            p {
                margin: 0;
            }
        }
    }

    &__logo {
        position: absolute;
        top: 115px;
        right: 0;
        width: 53%;

        @media screen and (max-width: $break-point-sp) {
            position: static;
            width: 100%;
            margin-top: 20px;
        }

        img {
            height: 400px;
            object-fit: cover;

            @media screen and (max-width: $break-point-sp) {
                height: auto;
            }
        }
    }
}


.footer {
    max-width: none;
    margin: 120px auto 0;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: $color-white;

    @media screen and (max-width: $break-point-sp) {
        margin-top: 0;
        padding: 48px 16px 20px 16px;
    }

    &__inner {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__companyInfo {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $break-point-sp) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__logo {
        width: 100px;

        @media screen and (max-width: $break-point-sp) {
            width: 80px;
        }
    }

    &__copyright {
        display: block;
        margin-top: 40px;
    }
}
