<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
</head>
<body>
    <div id="container">
        <ol>
            <li><a href="./basic/index.html">basic</a></li>
            <li><a href="./inline/index.html">inline-block</a></li>
            <li><a href="./position/index.html">position</a></li>
            <li><a href="./float/index.html">float</a></li>
            <li><a href="./flexbox/index.html">flexbox</a></li>
            <li><a href="./grid/index.html">grid</a></li>
            <li><a href="./responsive/index.html">responsive</a></li>
        </ol>
    </div>
</body>
</html>