header {
    background-color: antiquewhite;
    text-align: center;
}

.container {
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.left {
    
    flex-grow: 1;
    margin: 10px;

    nav {
        background-color: aquamarine;
        
        ul, li {
            list-style: none;
            padding-left: 0px;
        }
    }
    
}

.right {

    flex-grow: 3;
    margin: 10px;

    main {
        border: 1px solid black;
    }

    section {
        background-color: lightsalmon;
        width: 100%;
    }
    
    aside {
        border: 1px solid black;
        width: 80%;
        margin: 10px auto;
    }
}

footer {
    background-color: antiquewhite;
    text-align: center;
    clear: both;
}