@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
  }

h3 {
    background-color: darkred;
    color: whitesmoke;
}

#container {
    text-align: center;

    .allSelector {
        user-select: all;
        background-color: greenyellow;
        margin: 10px, 20%;
    }

    .column {
        p {
            columns: 3;
            column-rule: solid 2px #222;            
        }
    }

    .deco {
        #deco1 {
            text-decoration: underline  #0bd;            
        }
        #deco2 {
            text-decoration: underline wavy #0bd;            
        }
        #deco3 {
            text-decoration: dashed line-through #0bd;            
        }
        #deco4 {
            text-shadow: 2px 2px 3px black;            
        }
        #deco5 {
            background: linear-gradient(transparent 50%, #0bd 50%);
        }
        #font {
            font-family: "Sawarabi Gothic";
        }
    }

    .emp {
        #emp1 {
            -webkit-text-emphasis: dot red;
            text-emphasis: dot red;
        }
        #emp2 {
            -webkit-text-emphasis: circle red;
            text-emphasis: circle red;
        }
        #emp3 {
            -webkit-text-emphasis: sesame red;
            text-emphasis: sesame red;
        }
    }

    #sample4 {
        details {
            transition: .5s;
        }
        details[open] {
            background: lightsalmon;
        }        
    }
}