<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>layout</title>
</head>
<body>
    <div class="container">
        <section class="inner">
            <h3>inline-blockによる並べ方</h3>
            <p>inline-blockにすることで、block要素とinline要素の中間として扱える</p>
            <div class="row1">
                <div class="column1">1</div>
                <div class="column1">2</div>
            </div>
            <div>
                <div class="row1-2">1</div>                
                <div class="row1-2">2</div>                
            </div>
        </section>
    </div>
</body>
</html>