<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>layout-basic</title>
</head>
<body>
    <div class="container">
        <section class="backgroundThumbnail">
            <h3>背景画像サムネイル</h3>
            <ul class="cardList">
                <li class="cardList__item">
                    <a href="#" class="card">
                        <span class="img" style="background-image: url(img/one.png)"></span>
                        <p class="card__txt">sample-sample-sample-sample-sample-sample-sample</p>
                    </a>
                </li>
                <li class="cardList__item">
                    <a href="#" class="card">
                        <span class="img" style="background-image: url(img/two.png)"></span>
                        <p class="card__txt">sample-sample-sample-sample-sample-sample-sample</p>
                    </a>
                </li>
                <li class="cardList__item">
                    <a href="#" class="card">
                        <span class="img" style="background-image: url(img/one.png)"></span>
                        <p class="card__txt">sample-sample-sample-sample-sample-sample-sample</p>
                    </a>
                </li>
                <li class="cardList__item">
                    <a href="#" class="card">
                        <span class="img" style="background-image: url(img/two.png)"></span>
                        <p class="card__txt">sample-sample-sample-sample-sample-sample-sample</p>
                    </a>
                </li>
            </ul>          
          </section>

        <section class="imageThumbnail">
            <h3>表画像サムネイル</h3>
            <p>背景ではなく表に画像をだす必要があるならこっち</p>
            <ul class="cardList">
                <li class="cardList__item">
                  <a href="#" class="card">
                    <div class="card__thumb"><img src="img/two.png" alt="two"></div>
                    <p class="card__txt">sample-sample-sample-sample-sample-sample-sample</p>
                </a>
                </li>
                <li class="cardList__item">
                  <a href="#" class="card">
                    <div class="card__thumb"><img src="img/one.png" alt="one"></div>
                    <p class="card__txt">sample-sample-sample-sample-sample-sample-sample</p>
                </a>
                </li>
                <li class="cardList__item">
                  <a href="#" class="card">
                    <div class="card__thumb"><img src="img/two.png" alt="two"></div>
                    <p class="card__txt">sample-sample-sample-sample-sample-sample-sample</p>
                </a>
                </li>
              </ul>              
        </section>

        <section class="media">
            <h3>メディアカード</h3>
            <ul>
                <li>
                  <a href="#" class="mediaCard">
                    <div class="media__thumb"><img src="img/one.png" alt="one"></div>
                    <div class="media__body">
                      <p class="media__catch">キャッチコピーテキスト</p>
                      <p class="media__txt">sample</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" class="mediaCard">
                    <div class="media__thumb"><img src="img/two.png" alt="two"></div>
                    <div class="media__body">
                      <p class="media__catch">キャッチコピーテキスト</p>
                      <p class="media__txt">sample</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" class="mediaCard">
                    <div class="media__thumb"><img src="img/one.png" alt="one"></div>
                    <div class="media__body">
                      <p class="media__catch">キャッチコピーテキスト</p>
                      <p class="media__txt">sample</p>
                    </div>
                  </a>
                </li>
              </ul>
          </section>
    </div>
</body>
</html>