.container {
  text-align: center;
}

.sampleBox {
  margin: 10px auto;
  width: 80%;
  border: 2px dotted black;
  background-color: whitesmoke;
}

.sample1 div {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
  animation: bounce-delay 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.sample1 div:nth-child(1) {
  animation-delay: -1s;
}
.sample1 div:nth-child(2) {
  animation-delay: -0.5s;
}

.sample2 .rect2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: black;
  animation-name: rect-scaled;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 20;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.sample3 {
  perspective: 120px;
}
.sample3 .rect3 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: black;
  animation-name: rotation-3d;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 20;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.sample4 {
  padding: 20px;
}
.sample4 div {
  display: inline-block;
  width: 10px;
  height: 60px;
  background-color: black;
  animation-name: scale-vartical;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 20;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.sample4 div:nth-child(1) {
  animation-delay: -1.05s;
}
.sample4 div:nth-child(2) {
  animation-delay: -0.9s;
}
.sample4 div:nth-child(3) {
  animation-delay: -0.75s;
}
.sample4 div:nth-child(4) {
  animation-delay: -0.6s;
}

.sample5 {
  position: relative;
  text-align: center;
  background-color: lightsalmon;
  width: 60%;
  height: 100px;
  margin: 0 auto;
}
.sample5 .animateStrings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
}
.sample5 .animateStrings.isShow {
  opacity: 1;
}
.sample5 .animateStrings.isShow .char {
  display: inline-block;
  animation-name: string-fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.sample5 .animateStrings.isShow .char:nth-child(1) {
  animation-delay: 0.05s;
}
.sample5 .animateStrings.isShow .char:nth-child(2) {
  animation-delay: 0.1s;
}
.sample5 .animateStrings.isShow .char:nth-child(3) {
  animation-delay: 0.15s;
}
.sample5 .animateStrings.isShow .char:nth-child(4) {
  animation-delay: 0.2s;
}
.sample5 .animateStrings.isShow .char:nth-child(5) {
  animation-delay: 0.25s;
}
.sample5 .animateStrings.isShow .char:nth-child(6) {
  animation-delay: 0.3s;
}
.sample5 .animateStrings.isShow .char:nth-child(7) {
  animation-delay: 0.35s;
}
.sample5 .animateStrings.isShow .char:nth-child(8) {
  animation-delay: 0.4s;
}
.sample5 .animateStrings.isShow .char:nth-child(9) {
  animation-delay: 0.45s;
}
.sample5 .animateStrings.isShow .char:nth-child(10) {
  animation-delay: 0.5s;
}
.sample5 .animateStrings.isShow .char:nth-child(11) {
  animation-delay: 0.55s;
}
.sample5 .animateStrings.isShow .char:nth-child(12) {
  animation-delay: 0.6s;
}
.sample5 .animateStrings.isShow .char:nth-child(13) {
  animation-delay: 0.65s;
}
.sample5 .animateStrings.isShow .char:nth-child(14) {
  animation-delay: 0.7s;
}
.sample5 .animateStrings.isShow .char:nth-child(15) {
  animation-delay: 0.75s;
}
.sample5 .animateStrings.isShow .char:nth-child(16) {
  animation-delay: 0.8s;
}
.sample5 .animateStrings.isShow .char:nth-child(17) {
  animation-delay: 0.85s;
}
.sample5 .animateStrings.isShow .char:nth-child(18) {
  animation-delay: 0.9s;
}
.sample5 .animateStrings.isShow .char:nth-child(19) {
  animation-delay: 0.95s;
}

.sample6 button {
  display: block;
  margin: 5px auto;
}
.sample6 .box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: lightsalmon;
}
.sample6 .appear .box {
  transition: all 1s;
  opacity: 0;
  transform: translateY(10px);
}
.sample6 .appear.isShow .box {
  opacity: 1;
  transform: none;
}
.sample6 .appear.isShow .box:nth-child(2) {
  transition-delay: 0.5s;
}

@keyframes bounce-delay {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes rect-scaled {
  0% {
    transform: scale(0);
    background-color: black;
  }
  100% {
    transform: scale(1);
    background-color: silver;
  }
}
@keyframes rotation-3d {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  50% {
    transform: rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes scale-vartical {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes string-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}/*# sourceMappingURL=style.css.map */