<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>aspect-fix</title>
</head>
<body>
    <main class="container">
        <h1>アスペクト比固定レイアウト</h1>
        <p>昔は、paddding-topハックと呼ばれる方法を使ったが、今はaspect-ratioを使うだけになった</p>
        <section class="youtube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g8NVwN0_mks?si=6XOA848U9MIR7AVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>        
    </main>
</body>
</html>